.second,
.first{
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.first{
    background-color: black;
    color: white;
}

.second{
    background-color: yellow;
}